fastapi
uvicorn
python-multipart
jinja2
opencv-python-headless
numpy
passlib
bcrypt==3.2.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
itsdangerous
authlib
httpx
